html {
    background-color: #f5f5f5;
    font-family: 'Roboto', sans-serif;

}
 .card {
    max-width: 30%;
    border: solid 1px #ccc;
    margin: 20px auto;
    padding: 20px;
    background-color: #e8e3e3;
    border-radius: 5px;
}